<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ласкаво просимо!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="bg-slideshow">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="search-container">
        <form method="POST" action="{{ url_for('search') }}" class="search-form">
            <input class="search-input" type="text" name="search" value="{{ request.form['search'] }}" placeholder="Пошук...">
            <button class="search-button" type="submit">Знайти!</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper-base.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
